<ion-header>
    <ion-toolbar>
        <ion-title>Display Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class=icon>

    </ion-row>
    <ion-row>
        <ion-label class='text'><strong>Username:</strong></ion-label>
        <ion-label>{{data.username}}</ion-label>
    </ion-row>
    <ion-row>
        <ion-label class='text'><strong>Password:</strong></ion-label>
        <ion-label>{{data.password}}</ion-label>
    </ion-row>
    <ion-row>
        <ion-label class='text'><strong>DOB:</strong></ion-label>
        <ion-label>{{data.datetime| date}}</ion-label>
    </ion-row>
</ion-content>