<ion-header>
    <ion-toolbar>
        <ion-title>Display Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-label><strong>Username:</strong></ion-label>
        <ion-label>{{data.username}}</ion-label>
    </ion-row>
    <ion-row>
        <ion-label><strong>Password:</strong></ion-label>
        <ion-label>{{data.password}}</ion-label>
    </ion-row>
    <ion-row>
        <ion-label><strong>DOB:</strong></ion-label>
        <ion-label>{{data.datetime}}</ion-label>
    </ion-row>
</ion-content>